<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/icon/favicon.svg">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div id="navbar">
    {% if not g.user %}
    <a href="/register">Register</a>
    <a href="/login">Log in</a>
    {% else %}
    <a href="/user/{{ g.user.id }}">{{ g.user.username }}</a>
    {% endif %}
  </div>

  {% block content %}

  {% endblock %}
</body>
</html>