{% extends 'base.html' %}

{% block body_class %}The Dog Wiki{% endblock %}

{% block content %}

<h1 id="breed">{{dog}}</h1>

<div class="top_margin" id="image">
  
</div>

<div class="top_margin" id="facts_section">
  <h2>Facts about {{ dog }}</h2>

  <h3 class="top_margin">Origin</h3>
  <p id="bred-for"></p>

  <h3 class="top_margin">Breed group</h3>
  <p id="breed-group"></p>

  <h3 class="top_margin">Average height (imperial)</h3>
  <p id="height-imperial"></p>

  <h3 class="top_margin">Average height (metric)</h3>
  <p id="height-metric"></p>

  <h3 class="top_margin">Average life span</h3>
  <p id="life-span"></p>

  <h3 class="top_margin">Average weight (imperial)</h3>
  <p id="weight-imperial"></p>

  <h3 class="top_margin">Average weight (metric)</h3>
  <p id="weight-metric"></p>

  <h3 class="top_margin">Typical temperament traits</h3>
  <p class="bottom_margin" id="traits"></p>
</div>

<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="../static/javascript/searchDog.js"></script>
{% endblock %}