{% extends 'base.html' %}

{% block body_class %}The Dog Wiki{% endblock %}

{% block content %}

<h2>Update my profile</h2>
<form method="POST">
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden' %}
    {% for error in field.errors %}
          <span>{{ error }}</span>
    {% endfor %}
    {{ field(placeholder=field.label.text, class="form-control") }}
  {% endfor %}
  <p>Enter your password to confirm changes</p>
  <button>Update</button>
</form>

{% endblock %}