{% extends 'base.html' %}

{% block body_class %}The Dog Wiki{% endblock %}

{% block content %}

<h1>The Dog Wiki</h1>

<h2 class="top_padding">Welcome to one stop canine compendium.</h2>
<div>
  <p>You can search for a specific breed <a href="/search">here.</a></p>
  <p>See a list of all available breeds <a href="/breeds">here.</a></p>
  <p>If you don't know what you're looking for, fetch a random doggy <a href="/random">here.</a></p>
</div>

<div class="top_padding">
  <h2>Are you looking to adopt a pet?</h2>
  <p>
    Here you can find information about adopting a pet and shelters
    near you, <a href="https://www.aspca.org/adopt-pet">American Society for the Prevention of Cruelty to Animals</a>.
  </p>
</div>

<div class="top_padding">
  <img width="100%" height="auto" src="/static/image/dog.jpg" alt="dog drawing">
</div>

{% endblock %}