{% extends 'base.html' %}
{% block title %}The Dog Wiki{% endblock %}

{% block content %}

  <h1>The Dog Wiki</h1>
  <h2 class="top_padding">Your one stop canine compendium</h2>

  <div class="top_padding">
    <a href="/register">Register new user</a>
    <a class="left_padding" href="/login">Log in</a>
  </div>

  <div class="top_padding">
    <img id="pet_group" src="../static/image/dog-group.jpg" alt="a group of animals">
    <caption><a href='https://www.freepik.com/vectors/pet-animals'>Pet animals vector created by brgfx - www.freepik.com</a></caption>
  </div>

{% endblock %}