{% extends 'base.html' %}

{% block body_class %}Login{% endblock %}

{% block content %}

<h2>Welcome back to the Dog Wiki</h2>
<form class="flex-col" method="POST">
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden' %}
    {% for error in field.errors %}
          <span>{{ error }}</span>
    {% endfor %}
    {{ field(placeholder=field.label.text, class="form-control") }}
  {% endfor %}

  <button class="button top_margin">Log in</button>
</form>

{% endblock %}