{% extends 'base.html' %}

{% block body_class %}The Dog Wiki{% endblock %}

{% block content %}

<h2>Search for a dog breed</h2>
<form method="POST">
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden' %}
    {% for error in field.errors %}
          <span>{{ error }}</span>
    {% endfor %}
    {{ field(placeholder=field.label.text, class="form-control") }}
  {% endfor %}

  <button onclick="findMyDog()">Find my dog</button>
</form>

<div id="search-result">
  
</div>

<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="../static/javascript/searchBreed.js"></script>
{% endblock %}